In [116]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from statsmodels.tsa.statespace.sarimax import SARIMAX
from scipy.stats import norm

In [117]:
# Load files

train_data = pd.read_csv('regression_input_data.csv')

#temp solution while haven't downloaded from correct source
temp = pd.read_csv('temp_proj_gville_county.csv')
pre = pd.read_csv('pre_proj_gville_county.csv')
pop = pd.read_csv('pop_proj_gville_county.csv')

In [118]:
# Define the year range
y_low = 2019
y_upper = 2023
start_year = 2019
end_year = 2023

In [119]:
#preprocess prec data


#precipitation
pre = pre.drop(columns=["ANNUAL"])

#Filter precipitation for the time range
pre['YEAR'] = pd.to_numeric(pre['YEAR'], errors='coerce')

pre = pre[(pre['YEAR'] >= start_year) & (pre['YEAR'] <= end_year)] 
#pre.set_index('YEAR', inplace=True)

# Reshape the data from wide to long format
pre_long = pre.melt(id_vars=["YEAR"], var_name="month", value_name="pre")


# Map month columns (M1, M2, ...) to actual month names
month_map = {
    "M1": "Jan", "M2": "Feb", "M3": "Mar", "M4": "Apr", "M5": "May",
    "M6": "Jun", "M7": "Jul", "M8": "Aug", "M9": "Sep", "M10": "Oct",
    "M11": "Nov", "M12": "Dec"
}
pre_long["month"] = pre_long["month"].map(month_map)



# Filter out rows where 'pre' is "M"
pre_long = pre_long[pre_long["pre"] != "M"]

# Rename columns for clarity
pre_long = pre_long.rename(columns={"YEAR": "year"})

# Reset index for a clean output
pre_long = pre_long.reset_index(drop=True)
pre = pre_long


#display(pre)

In [120]:
#preprocess population
# Interpolate population from the 'pop' sheet

# Drop the 'COUNTY' column
pop = pop.drop(columns=['COUNTY'])  # Drop the 'COUNTY' column

# Assuming pop is your DataFrame
pop.columns = ['year', 'pop']  # Rename columns to 'year' and 'pop'

pop = pop[(pop['year'] >= start_year) & (pop['year'] <= end_year)]

pop.reset_index(drop=True, inplace=True) 

rows = []

# Create a DataFrame with all months
result = pd.DataFrame(columns=['year', 'month', 'pop'])

# Iterate through each year and interpolate monthly data
for i in range(len(pop) - 1):
    s_year = pop.loc[i, 'year']
    e_year = pop.loc[i + 1, 'year']
    start_pop = pop.loc[i, 'pop']
    end_pop = pop.loc[i + 1, 'pop']
    
    # Generate monthly data
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    monthly_pops = np.linspace(start_pop, end_pop, 12, endpoint=False)
    monthly_pops = np.round(monthly_pops).astype(int)  # Round to whole numbers
    
    # Append to result DataFrame
    for j, month in enumerate(months):
        rows.append({'year': s_year, 'month': month, 'pop': monthly_pops[j]})
        
# Add data for the final year
last_year = pop.loc[len(pop) - 1, 'year']
last_pop = pop.loc[len(pop) - 1, 'pop']
for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']:
        rows.append({'year': last_year, 'month': month, 'pop': last_pop})
        
result = pd.DataFrame(rows)

pop = result
pop = pop.reset_index(drop=True)

#display(pop)

In [121]:
# Preprocess temperature data

temp = temp.drop(columns=["ANNUAL"])

#Filter precipitation for the time range
temp['YEAR'] = pd.to_numeric(temp['YEAR'], errors='coerce')

temp = temp[(temp['YEAR'] >= start_year) & (temp['YEAR'] <= end_year)] 
#pre.set_index('YEAR', inplace=True)

# Reshape the data from wide to long format
temp_long = temp.melt(id_vars=["YEAR"], var_name="month", value_name="temp")


# Map month columns (M1, M2, ...) to actual month names
month_map = {
    "M1": "Jan", "M2": "Feb", "M3": "Mar", "M4": "Apr", "M5": "May",
    "M6": "Jun", "M7": "Jul", "M8": "Aug", "M9": "Sep", "M10": "Oct",
    "M11": "Nov", "M12": "Dec"
}
temp_long["month"] = temp_long["month"].map(month_map)



# Filter out rows where 'pre' is "M"
temp_long = temp_long[temp_long["temp"] != "M"]

# Rename columns for clarity
temp_long = temp_long.rename(columns={"YEAR": "year"})

# Reset index for a clean output
temp_long = temp_long.reset_index(drop=True)
temp = temp_long

#display(temp)

In [122]:
# Merge all data into one df


# Merge all DataFrames based on 'year' and 'month'

prediction_data = pop.merge(temp, on=['year', 'month'], how='outer')  # Merge pop and temp
prediction_data = prediction_data.merge(pre, on=['year', 'month'], how='outer')  # Merge with precip


#  Fill  values with blank (empty) values
prediction_data['pop'] = prediction_data['pop'].replace(np.nan, '')
prediction_data['pre'] = prediction_data['pre'].replace(np.nan, '')
prediction_data['temp'] = prediction_data['temp'].replace(np.nan, '')

month_map = {
    'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
    'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
}

# Add a new column to convert month abbreviations to numeric values
prediction_data['month_num'] = prediction_data['month'].map(month_map)

# Create month indicator variables (dummy variables for months)
month_dummies = pd.get_dummies(prediction_data['month_num'], prefix='M')

# Convert Boolean True/False to 1/0
month_dummies = month_dummies.astype(int)

# Ensure the dummy columns are named 'M1' to 'M12'
month_dummies.columns = [f'M{i}' for i in range(1, 13)]

# Merge the month indicator variables with your train_data
prediction_data = pd.concat([prediction_data, month_dummies], axis=1)

prediction_data = prediction_data.drop(columns=['month_num'])

display(prediction_data)

,year,month,pop,temp,pre,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
0,2019,Jan,524748,43.7,5.53,1,0,0,0,0,0,0,0,0,0,0,0
1,2019,Feb,524956,50.4,6.72,0,1,0,0,0,0,0,0,0,0,0,0
2,2019,Mar,525165,51.4,2.87,0,0,1,0,0,0,0,0,0,0,0,0
3,2019,Apr,525373,62.9,4.15,0,0,0,1,0,0,0,0,0,0,0,0
4,2019,May,525582,74.1,1.77,0,0,0,0,1,0,0,0,0,0,0,0
5,2019,Jun,525790,75.9,4.77,0,0,0,0,0,1,0,0,0,0,0,0
6,2019,Jul,525998,80.2,3.73,0,0,0,0,0,0,1,0,0,0,0,0
7,2019,Aug,526207,78.5,6.76,0,0,0,0,0,0,0,1,0,0,0,0
8,2019,Sep,526415,79.1,0.18,0,0,0,0,0,0,0,0,1,0,0,0
9,2019,Oct,526624,66.5,4.98,0,0,0,0,0,0,0,0,0,1,0,0
10,2019,Nov,526832,49.3,3.43,0,0,0,0,0,0,0,0,0,0,1,0
11,2019,Dec,527041,47.1,7.01,0,0,0,0,0,0,0,0,0,0,0,1
12,2020,Jan,527249,45.5,7.02,1,0,0,0,0,0,0,0,0,0,0,0
13,2020,Feb,527866,47.2,9.60,0,1,0,0,0,0,0,0,0,0,0,0
14,2020,Mar,528482,57.3,4.60,0,0,1,0,0,0,0,0,0,0,0,0
15,2020,Apr,529099,60.1,7.45,0,0,0,1,0,0,0,0,0,0,0,0
16,2020,May,529715,65.0,12.57,0,0,0,0,1,0,0,0,0,0,0,0
17,2020,Jun,530332,75.4,3.17,0,0,0,0,0,1,0,0,0,0,0,0
18,2020,Jul,530948,80.9,5.13,0,0,0,0,0,0,1,0,0,0,0,0
19,2020,Aug,531565,79.0,4.28,0,0,0,0,0,0,0,1,0,0,0,0
20,2020,Sep,532182,70.4,5.32,0,0,0,0,0,0,0,0,1,0,0,0
21,2020,Oct,532798,63.0,5.66,0,0,0,0,0,0,0,0,0,1,0,0
22,2020,Nov,533415,55.3,5.98,0,0,0,0,0,0,0,0,0,0,1,0
23,2020,Dec,534031,43.1,2.92,0,0,0,0,0,0,0,0,0,0,0,1
24,2021,Jan,534648,42.7,4.45,1,0,0,0,0,0,0,0,0,0,0,0
25,2021,Feb,535748,43.6,4.49,0,1,0,0,0,0,0,0,0,0,0,0
26,2021,Mar,536848,55.1,5.58,0,0,1,0,0,0,0,0,0,0,0,0
27,2021,Apr,537947,59.9,1.91,0,0,0,1,0,0,0,0,0,0,0,0
28,2021,May,539047,67.1,4.46,0,0,0,0,1,0,0,0,0,0,0,0
29,2021,Jun,540147,75.4,6.90,0,0,0,0,0,1,0,0,0,0,0,0
30,2021,Jul,541246,78.9,5.96,0,0,0,0,0,0,1,0,0,0,0,0
31,2021,Aug,542346,79.0,3.24,0,0,0,0,0,0,0,1,0,0,0,0
32,2021,Sep,543446,71.7,3.33,0,0,0,0,0,0,0,0,1,0,0,0
33,2021,Oct,544546,64.6,4.60,0,0,0,0,0,0,0,0,0,1,0,0
34,2021,Nov,545646,49.0,1.20,0,0,0,0,0,0,0,0,0,0,1,0
35,2021,Dec,546745,52.3,2.91,0,0,0,0,0,0,0,0,0,0,0,1
36,2022,Jan,547845,40.5,4.55,1,0,0,0,0,0,0,0,0,0,0,0
37,2022,Feb,548694,47.0,3.64,0,1,0,0,0,0,0,0,0,0,0,0
38,2022,Mar,549544,55.2,6.03,0,0,1,0,0,0,0,0,0,0,0,0
39,2022,Apr,550393,59.9,4.49,0,0,0,1,0,0,0,0,0,0,0,0
40,2022,May,551242,71.1,5.78,0,0,0,0,1,0,0,0,0,0,0,0
41,2022,Jun,552091,77.4,1.79,0,0,0,0,0,1,0,0,0,0,0,0
42,2022,Jul,552940,81.3,6.08,0,0,0,0,0,0,1,0,0,0,0,0
43,2022,Aug,553790,78.2,3.72,0,0,0,0,0,0,0,1,0,0,0,0
44,2022,Sep,554639,70.9,5.10,0,0,0,0,0,0,0,0,1,0,0,0
45,2022,Oct,555488,58.4,1.84,0,0,0,0,0,0,0,0,0,1,0,0
46,2022,Nov,556338,53.2,6.96,0,0,0,0,0,0,0,0,0,0,1,0
47,2022,Dec,557187,42.6,4.54,0,0,0,0,0,0,0,0,0,0,0,1
48,2023,Jan,558036,47.7,7.74,1,0,0,0,0,0,0,0,0,0,0,0
49,2023,Feb,558036,53.1,3.25,0,1,0,0,0,0,0,0,0,0,0,0
50,2023,Mar,558036,54.6,4.07,0,0,1,0,0,0,0,0,0,0,0,0
51,2023,Apr,558036,60.3,10.12,0,0,0,1,0,0,0,0,0,0,0,0
52,2023,May,558036,66.4,4.67,0,0,0,0,1,0,0,0,0,0,0,0
53,2023,Jun,558036,72.2,5.68,0,0,0,0,0,1,0,0,0,0,0,0
54,2023,Jul,558036,80.0,3.77,0,0,0,0,0,0,1,0,0,0,0,0
55,2023,Aug,558036,78.9,5.12,0,0,0,0,0,0,0,1,0,0,0,0
56,2023,Sep,558036,72.9,0.72,0,0,0,0,0,0,0,0,1,0,0,0
57,2023,Oct,558036,62.5,0.80,0,0,0,0,0,0,0,0,0,1,0,0
58,2023,Nov,558036,51.7,1.08,0,0,0,0,0,0,0,0,0,0,1,0
59,2023,Dec,558036,46.5,4.93,0,0,0,0,0,0,0,0,0,0,0,1

In [123]:
# preprocess hist data

month_map = {
    'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
    'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
}

# Add a new column to convert month abbreviations to numeric values
train_data['month_num'] = train_data['month'].map(month_map)

# Create month indicator variables (dummy variables for months)
month_dummies = pd.get_dummies(train_data['month_num'], prefix='M')

# Convert Boolean True/False to 1/0
month_dummies = month_dummies.astype(int)

# Ensure the dummy columns are named 'M1' to 'M12'
month_dummies.columns = [f'M{i}' for i in range(1, 13)]

# Merge the month indicator variables with your train_data
train_data = pd.concat([train_data, month_dummies], axis=1)

train_data = train_data.drop(columns=['month_num'])

display(train_data)

,year,month,gpcd,pop,pre,temp,gpd,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
0,1985,Jan,503.009104,302514,4.94,36.2,152167296,1,0,0,0,0,0,0,0,0,0,0,0
1,1985,Feb,311.351553,302697,4.29,44.6,94245181,0,1,0,0,0,0,0,0,0,0,0,0
2,1985,Mar,0.000000,302880,1.13,54.2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1985,Apr,0.000000,303063,1.31,61.8,0,0,0,0,1,0,0,0,0,0,0,0,0
4,1985,May,0.000000,303246,2.42,67.9,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,2015,Aug,0.000000,491218,2.41,79.1,0,0,0,0,0,0,0,0,1,0,0,0,0
368,2015,Sep,0.000000,491218,5.56,72.8,0,0,0,0,0,0,0,0,0,1,0,0,0
369,2015,Oct,22.312776,491218,9.44,60.2,10960437,0,0,0,0,0,0,0,0,0,1,0,0
370,2015,Nov,69.380739,491218,9.13,55.4,34081068,0,0,0,0,0,0,0,0,0,0,1,0
371,2015,Dec,100.000000,491218,10.08,55.2,49121800,0,0,0,0,0,0,0,0,0,0,0,1

In [124]:

# Convert month names into one-hot encoded columns (M1-M12) for both train and prediction data
train_data = pd.concat([train_data, pd.get_dummies(train_data['month'], prefix='M')], axis=1)
prediction_data = pd.concat([prediction_data, pd.get_dummies(prediction_data['month'], prefix='M')], axis=1)

# Prepare the exogenous variables (X) for SARIMAX model
X_train = train_data[['temp', 'pre', 'year'] + [f'M{i}' for i in range(1, 13)]]
y_train = train_data['gpcd']

# Lower-GPCD fit: GLS with SARIMA(1, 0, 0)  (1, 0, 0)_11 errors
arima_model_lower = SARIMAX(y_train, exog=X_train, order=(1, 0, 0), seasonal_order=(1, 0, 0, 12), trend=None)
arima_result_lower = arima_model_lower.fit()

# Extract coefficients and p-values
lower_coefficients = arima_result_lower.params
lower_pval = 2 * (1 - norm.cdf(np.abs(lower_coefficients) / np.sqrt(np.diag(arima_result_lower.cov_params()))))

# Save the coefficients table for lower-GPCD
lower_coefficients_table = pd.DataFrame({'Coefficient': lower_coefficients, 'P-value': lower_pval})
lower_coefficients_table.to_csv('lower_coefficients_table.csv', sep='\t', index=False)

# Higher-GPCD: GLS with SARIMA(1, 0, 0)  (1, 0, 0)_12 errors
train_data['Byear'] = train_data['year']
train_data['Byear'] = np.where(train_data['Byear'] <= y_low, y_low, train_data['Byear'])
train_data['Byear'] = np.where(train_data['Byear'] >= y_upper, y_upper, train_data['Byear'])

X_train_byear = train_data[['temp', 'pre', 'year', 'Byear'] + [f'M{i}' for i in range(1, 13)]]
arima_model_byear = SARIMAX(y_train, exog=X_train_byear, order=(1, 0, 0), seasonal_order=(1, 0, 0, 12), trend=None)
arima_result_byear = arima_model_byear.fit()

# Extract coefficients and p-values
higher_coefficients = arima_result_byear.params
higher_pval = 2 * (1 - norm.cdf(np.abs(higher_coefficients) / np.sqrt(np.diag(arima_result_byear.cov_params()))))

# Save the coefficients table for higher-GPCD
higher_coefficients_table = pd.DataFrame({'Coefficient': higher_coefficients, 'P-value': higher_pval})
higher_coefficients_table.to_csv('higher_coefficients_table.csv', sep='\t', index=False)

# Predict GPCD for 24 different temperature and precipitation pairs
GPCD_year_predict = []
GPCD_byear_predict = []

# Adjust prediction years
prediction_data['Byear'] = prediction_data['year']
prediction_data['Byear'] = np.where(prediction_data['Byear'] <= y_low, y_low, prediction_data['Byear'])
prediction_data['Byear'] = np.where(prediction_data['Byear'] >= y_upper, y_upper, prediction_data['Byear'])

# Loop through all months and predict GPCD
for i in range(1, 25):
    # Get the temperature and precipitation columns for each pair
    tem_col = f'Tem{i}'
    pre_col = f'Pre{i}'

    # Set up the exogenous variables for prediction (same as for training)
    X_predict = prediction_data[['temp', 'pre', 'year'] + [f'M{i}' for i in range(1, 13)]]
    X_predict[tem_col] = prediction_data[tem_col]
    X_predict[pre_col] = prediction_data[pre_col]

    # Prediction with lower-GPCD model
    lower_prediction = arima_result_lower.get_prediction(start=0, end=len(prediction_data)-1, exog=X_predict)
    GPCD_year_predict.append(lower_prediction.predicted_mean.values)

    # Prediction with higher-GPCD model
    X_predict_byear = X_predict.copy()
    X_predict_byear['Byear'] = prediction_data['Byear']
    higher_prediction = arima_result_byear.get_prediction(start=0, end=len(prediction_data)-1, exog=X_predict_byear)
    GPCD_byear_predict.append(higher_prediction.predicted_mean.values)

# Convert the predictions into DataFrame format
GPCD_year_predict_df = pd.DataFrame(np.array(GPCD_year_predict).T)
GPCD_byear_predict_df = pd.DataFrame(np.array(GPCD_byear_predict).T)

KeyError: 'Tem1'

In [ ]:
# Save prediction results
GPCD_year_predict_df.to_csv('GPCD_year_predict.csv', sep='\t', index=False)
GPCD_byear_predict_df.to_csv('GPCD_byear_predict.csv', sep='\t', index=False)